<div class="page">
    

    <section class="main-page">

        <img class="bg-img" src="../../assets/img/bg.png" alt="">

        <div class="texts">
            <h1>OI, EU SOU O GABRIEL</h1>
            <h3>Desenvolvedor Front-end e estudante de UX.</h3>
        </div>

        <!-- <div class="links-scroll">
                <span class="fa fa-linkedin-square"></span>
                <span class="fa fa-github-square"></span>
        </div> -->

    </section>

    <section class="sobre">
        
    </section>

</div>    
    

