<div class="page">
    <header class="area">
        <nav class="nav-bar">

            <div class="brand-area">
                <img class="brand-img" src="../../../assets/img/brand.png" alt="brand">
                <div class="line"></div>
            </div>

            <div class="lists">
                <ul class="main-list">
                    <li class="menu-text"><a *ngIf="!mostrarmenu" (click)="menuclick()">Menu</a></li>
                </ul>
                <ul class="main-list open" *ngIf="mostrarmenu">
                    <li class="menu-text"><a style="color: #a106c0" (click)="menuclick()">sair</a></li>
                    <li class="menu-text"><a>Sobre</a></li>
                    <li class="menu-text"><a>Dominios</a></li>
                    <li class="menu-text"><a>Projetos</a></li>
                </ul>
            </div>

            <div class="contato">
                <img src="" alt="">
                <li class="menu-text"><a>Contato</a></li>
            </div>

        </nav>
    </header>

    <section class="main-page">
        <img src="../../assets/img/bg.png" alt="">
        <div class="texts">
            
        </div>
    </section>
</div>    
    

