header{
    overflow: hidden;
    background-color: #fafafa;
}
.brand{
    width: 120px;
}
nav{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    gap: 20px;
    opacity: 1;
    transition: 0.2s ease-in;
}
.nav-list>li:hover{
    color: #a106c0;
    transition: 0.1s ease;
}
.contato-mobile{
    opacity: 0;
}
.contato-mobile:hover{
    color:  #a106c0;
    transition: 0.1s ease;
}
.right-list{
    margin-left: auto;
    padding-right: 5%;
    margin-top: 3px;
}
.right-list>li:hover{
    color: #a106c0;
    transition: 0.1s ease;
}
.contato-desktop{
    opacity: 1;
    cursor: pointer;
}


@media (max-width:700px){
    .nav-list{
        position: absolute;
        top: 16vh;
        left: 0;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        width: 100vw;
        height: 80vh;
        background-color: #fafafa;
        gap: 0;
        opacity: 0;
    }
    .contato-desktop{
        opacity: 0;
    }
    .contato-mobile{
        opacity: 1;
    }
    .mobile-icon{
        opacity: 1;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: space-around;
        transition: 0.2s ease;
    }
    #linha1,.linha2,.linha3{
        width: 40px;
        height: 10px;
        background-color: #000;
    }
}