header{
    overflow: hidden;
    background-color: #fafafa;
}
.brand{
    width: 120px;
}
nav{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    gap: 20px;
    opacity: 0;
    transition: 0.2s ease-in;
}
.mobile-icon{
    margin-right: 20px;
    transition: 0.2s ease-in;
}
.mobile-icon div{
    width: 23px;
    height: 2px;
    background-color: #101010;
    margin: 6px
}
.contato-mobile{
    opacity: 0;
    transition: 0.2s;
}
.right-list{
    margin-left: auto;
    padding-right: 5%;
    margin-top: 3px;
}
.contato-desktop{
    opacity: 1;
    transition: 0.2s;
    cursor: pointer;
}


@media (max-width:700px){
    .nav-list{
        position: absolute;
        top: 16vh;
        left: 0;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        width: 100vw;
        height: 80vh;
        background-color: #fafafa;
        gap: 0;
        opacity: 0;
    }
    .contato-desktop{
        opacity: 0;
    }
    .contato-mobile{
        opacity: 1;
    }
}