<header>
    <nav>
        <img src="../../../assets/img/brand.png" alt="brand" class="brand">
        <div class="mobile-icon" id="mobile-icon" (click)="menuclick()">
            <div id="linha1"></div>
            <div id="linha2"></div>
            <div id="linha3"></div>
        </div>
        <ul class="nav-list" id="nav-list">
            <li><a>Sobre</a></li>
            <li><a>Dominios</a></li>
            <li><a>Projetos</a></li>
            <li class="contato-mobile"><a>Contato</a></li>
        </ul>
        <div class="right-list">
            <li class="contato-desktop">Contato</li>
        </div>
    </nav>
</header>



